/*judge pages*/

body{
    margin:auto;
}

.container-fluid{
    margin:0px;
    padding:0px;
}

.header{
    background-color:#E7EBF2;
    padding-bottom:30px;
    width:inherit;
    padding:20px 45px 30px 45px;
    display:block;
}

footer{
    text-align:center;
}

.judge-participant-wrapper{
     padding:20px 45px 30px 45px;
}

.title{
    font-size:20px;
}


.small-title{
    font-size:24px;

}
.PageDiv{
    margin-top:20px;
}

.searchForm {
    margin-top:20px;
    text-align:center;
    font-family:'Roboto', sans-serif;
    font-weight:300;
  

}

.searchForm .searchIn{
    font-size:2em;
    line-height: 2em;
    display:inline-block
}

.searchForm form input:focus{
      outline:none;
}

.searchForm form input{
    width:200px;
    border:none;
    color:#555;
    border-bottom: 1px solid #BBB;
    padding:2px;
    font-size:18px;
    background-color:#E7EBF2
}

.btn-search{
    border: none;
    background: #E7EBF2;
    font-size: 22px;
    color: #244964;
}

.btn-save{
    background-color:#F68632;
    color:white;
    border:0px;
    padding:5px 10px;
}

.judge-team-score{
    font-size:20px;
    margin-top:20px;
    margin-bottom:30px;
}

.title{
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:2em;
    line-height: 2em;
    display:inline-block
}