    @import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    padding-top: 50px;
    padding-bottom: 20px;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 { 
	font-family: 'Roboto', 'Helvetica Nueue', sans-serif;
}
	








/*judge pages*/

.title{
    font-size:20px;
}

.PageDiv{
    margin-top:20px;
}

.searchForm {
    margin-top:20px;
}

.searchForm input{
    width:200px;
    border:1px solid #ddd;
    padding:2px;
}

.btn-submit{
    background-color:#3F8ABF;
    color:white;
    border:0px;
    padding:5px 10px;
}

.btn-save{
    background-color:#F68632;
    color:white;
    border:0px;
    padding:5px 10px;
}

.judge-team-score{
    font-size:20px;
    margin-top:20px;
    margin-bottom:30px;
}