    @import url(http://fonts.googleapis.com/css?family=Roboto);
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    padding-top: 50px;
    padding-bottom: 20px;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 { 
	font-family: 'Roboto', 'Helvetica Nueue', sans-serif;
    font-weight:300
}
	








/*judge pages*/
.header{
    background-color:#E7EBF2;
    padding-bottom:30px;
}


.title{
    font-size:20px;
}

.PageDiv{
    margin-top:20px;
}

.searchForm {
    margin-top:20px;
    text-align:center;
    font-family:'Roboto', sans-serif;
    font-weight:300;
  

}

.searchForm .searchIn{
    font-size:2em;
    line-height: 2em;
    display:inline-block
}

.searchForm form input:focus{
      outline:none;
}

.searchForm form input{
    width:200px;
    border:none;
    color:#555;
    border-bottom: 1px solid #BBB;
    padding:2px;
    font-size:18px;
    background-color:#E7EBF2
}

.btn-search{
    border: none;
    background: #E7EBF2;
    font-size: 22px;
    color: #244964;
}

.btn-save{
    background-color:#F68632;
    color:white;
    border:0px;
    padding:5px 10px;
}

.judge-team-score{
    font-size:20px;
    margin-top:20px;
    margin-bottom:30px;
}