@model IEnumerable<Riipen_SSD.Contest>

@{
    ViewBag.Title = "Index";
}

<h2>All contests</h2>


<table class="table">
    <tr>
        <th>
            contest name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            start time
            @*@Html.DisplayNameFor(model => model.StartTime)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "contest", new { contestId=item.Id })          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
       
    </tr>
}

</table>
