@model Riipen_SSD.ViewModels.SingleJudgeCriteriaScoreVM

@{
    ViewBag.Title = "team";
}

<h2>team</h2>

<div>
    <h4>SingleJudgeCriteriaScoreVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
